*.suo
[Oo]bj*/
[Bb]in*/
[Dd]ebug*/
[Rr]elease*/

[Tt]est[Rr]esults

/[Ee]xternal/[Pp]ackages

[Ss]ettings\.[Ss]tyle[Cc]op

*.coverage
/Source/ConsoleApp1/.vs/ConsoleApp1/v16/TestStore/0/000.testlog
/Source/ConsoleApp1/.vs/ConsoleApp1/v16/TestStore/0/testlog.manifest
